db.lock
WannabeFarmVille/.vs/WannabeFarmVille/v16/.suo
WannabeFarmVille/bin/Debug/WannabeFarmVille.exe
WannabeFarmVille/bin/Debug/WannabeFarmVille.pdb
WannabeFarmVille/obj/Debug/WannabeFarmVille.csproj.CoreCompileInputs.cache
WannabeFarmVille/obj/Debug/WannabeFarmVille.csproj.GenerateResource.cache
WannabeFarmVille/obj/Debug/WannabeFarmVille.csprojAssemblyReference.cache
WannabeFarmVille/obj/Debug/WannabeFarmVille.exe
WannabeFarmVille/obj/Debug/WannabeFarmVille.pdb
